<%= form_tag :action => :create do %>
  <% @instance_list.each do |instance| %>
    <div>
      <%= check_box_tag("instances[]", instance[:id]) %><%= instance[:name] %>
    </div>
  <% end %>
  <div>
    <%= hidden_field_tag(:stack_id, @stack.id) %>
  </div>
 
  <%= submit_tag %>
<% end %>
