<%= form_tag :action => :create do %>
  <table class="table table-striped">
    <thead>
      <th>
        Select
      </th>
      <th>
        Name
      </th>
      <th>
        ID
      </th>
    </thead>
    <% @instance_list.each do |instance| %>
      <tr>
        <td>
          <%= check_box_tag("instances[]", instance[:id]) %>
        </td>
        <td>
          <%= instance[:name] %>
        </td>
        <td>
          <%= instance[:id] %>
        </td>
      </tr>
  <% end %>
  </table>
  <div>
    <%= hidden_field_tag(:stack_id, @stack.id) %>
  </div>
 
  <%= submit_tag "Add Instances", class: "btn btn-primary" %>
<% end %>
