<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>ID</th>
    <th>Boot Order</th>
    <th>Delay</th>
    <th>State</th>
    <th>Actions</th>
  </thead>
  <% list_length = @stack.instances.length %>
  <% @stack.instances.order(:boot_order).each do |instance| %>
    <tr>
      <td><%= get_instance_name instance.instance_id %>
      <td><%= instance.instance_id %></td>
      <% instance_state = get_instance_state(instance.instance_id) %>
      <td>
        <%= instance.boot_order %>
        <% if params[:action] == 'edit' %>
          <% if instance.boot_order != 1 %>
            <%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe, {
                               :action => :modify_boot_order, 
                               :stack_id => @stack.id,
                               :instance_id => instance.id,
                               :direction => 'up'},
                               :method => :post %>
          <% end %>
          <% if instance.boot_order != list_length %>
            <%= link_to '<i class="fa fa-arrow-down"></i>'.html_safe, {
                              :action => :modify_boot_order,
                              :stack_id => @stack.id,
                              :instance_id => instance.id,
                              :direction => 'down'},
                              :method => :post %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if params[:action] == 'edit' %>
          <%= form_for instance, :url => {:controller => :instances, 
                                          :action => :update, 
                                          :id => instance.id,
                                          :stack_id => @stack.id} do |f| %>
            <%= f.text_field :delay %>
            <%= f.submit %>
          <% end %>
        <% else %>
          <%= instance.delay %>
        <% end %>
      </td>
      <td><%= instance_state %></td>
      <td>
        <% case instance_state %>
        <% when "stopped" %>
          <%= button_to "Start", {:action => 'start_instance', 
                                  :controller => :instances, 
                                  :id => instance.id, :stack_id => @stack.id}, 
                                  :method => :post, 
                                  class: 'btn btn-success' %>
        <% when "running" %>
          <%= button_to "Stop", {:action => 'stop_instance', 
                                 :controller => :instances, 
                                 :id => instance.id, :stack_id => @stack.id}, 
                                 :method => :post, 
                                 class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
