  <%= render 'loading_bar' %> 
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>
          Stack Name
        </th>
        <th>
          Public IP
        </th>
        <th>
          Server State
        </th>
        <th>
          Stack Status
        </th>
        <th>
          Actions
        </th>
      </tr>
      <% @stacks.each do |stack| %>
        <tr>
          <td>
            <% if get_stack_status(stack.stack_name) == "CREATE_COMPLETE" %>
              <%= link_to stack.stack_name, stack_path(stack.id) %>
            <% else %>
              <%= stack.stack_name %>
            <% end %>
          </td>
          <td>
            <%= get_public_ip(stack.stack_name) %>
          </td>
          <td>
            <%= get_pretty_server_state(stack.stack_name) %>
          </td>
          <td>
            <%= get_stack_status(stack.stack_name) %> 
          </td>
          <td>
            <%= button_to "Start", {:action => 'start_instances', :id => stack.id}, :method => :post, class: 'btn btn-success' %>
            <%= button_to "Stop", {:action => 'stop_instances', :id => stack.id}, :method => :post, class: 'btn btn-warning' %>
            <%= button_to "Delete", stack, :method => :delete, class: 'btn btn-danger', :data => {toggle: "modal", target:"#loadingBar"} %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= button_to "Create New Stack", new_stack_path, :method => :get, class: 'btn btn-success' %>
    </div>
