<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% @stack.instances.each do |instance| %>
    <tr>
      <td><%= instance.instance_name %></td>
      <td><%= instance.instance_id %></td>
      <% instance_state = get_instance_state(instance.instance_id) %>
      <td><%= instance_state %></td>
      <td>
        <% case instance_state %>
        <% when "stopped" %>
          <%= link_to "Start", :url => "#" %>
        <% when "running" %>
          <%= link_to "Stop", :url => "#" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
