<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>State</th>
    <th>Actions</th>
  </tr>
  <% @stack.instances.each do |instance| %>
    <tr>
      <td><%= instance.instance_name %></td>
      <td><%= instance.instance_id %></td>
      <% instance_state = get_instance_state(instance.instance_id) %>
      <td><%= instance_state %></td>
      <td>
        <% case instance_state %>
        <% when "stopped" %>
          <%= button_to "Start", {:action => 'start_instance', 
                                  :controller => :instances, 
                                  :id => instance.id, :stack_id => @stack.id}, 
                                  :method => :post, 
                                  class: 'btn btn-success' %>
        <% when "running" %>
          <%= button_to "Stop", {:action => 'stop_instance', 
                                 :controller => :instances, 
                                 :id => instance.id, :stack_id => @stack.id}, 
                                 :method => :post, 
                                 class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Add Instance to Stack", {:controller => :instances, 
                                      :action => :new,
                                      :stack_id => @stack.id} %>
