<div class = "row">
  <h1>New User</h1>
</div>
<div class="row">
  <%= form_for @user, class: "form-group"  do |f| %>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :username %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :display_name %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :display_name, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :company_name %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :company_name, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :password %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Create User", class: "btn btn-primary" %>
      </div>
    </div>
    <% if !flash[:danger].nil? %>
      <% flash[:danger].each do |message| %>
        <p class="text-danger"><%= message %>
      <% end %>
    <% end %>
  <% end %>
</div>


