    <div>
      <%= f.label :access_key_id %><br />
      <%= f.text_field :access_key_id %>
    </div>
    <div>
      <%= f.label :secret_access_key %><br />
      <%= f.text_field :secret_access_key %>
    </div>
    <div>
      <%= f.label :region %><br />
      <%= f.text_field :region %>
    </div>
    <div>
      <%= f.submit %>
    </div>
