<h1>Account Settings</h2>
<table class="table table-striped">
  <tr>
    <th>
      Access Key ID
    </th>
    <th>
      Secret Access Key
    </th>
    <th>
      Region
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% if @accounts.empty? %>
         <%= link_to "Add account info", new_account_path %>
  <% end %>
  <% @accounts.each do |account| %>
    <tr>
      <td>
        <%= account.access_key_id %>
      </td>
      <td>
        <%= account.secret_access_key %>
      </td>
      <td>
        <%= account.region %>
      </td>
      <td>
        <%= link_to "Update", edit_account_path(account.id) %>
      </td>
    </tr>
  <% end %>
</table>
