<h1>Add account details</h2>
<div>
  <%= form_for @account do |f| %>
    <div>
      <%= f.label :access_key_id %><br />
      <%= f.text_field :access_key_id %>
    </div>
    <div>
      <%= f.label :secret_access_key %><br />
      <%= f.text_field :secret_access_key %>
    </div>
    <div>
      <%= f.label :template_url %><br />
      <%= f.text_field :template_url %>
    </div>
    <div>
      <%= f.submit, :action => :create  %>
    </div>
  <% end %>
</div>
